.about{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: green;


  @supports ( (-webkit-clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 100%) ) or ( clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 100%) ) ){
    clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 100%);
    padding-top: 12rem;
    transform: translateY(-13rem);
    height: calc(100vh +13rem);
  }

  @mixin tab{
    height: 100%;

    @supports ( (-webkit-clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 100%) ) or ( clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 100%) ) ){
      clip-path: none;
      padding-top: 0;
      transform: translateY(0);
      height: 100%;
    }
  }
  

  &__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;

    @mixin desktop{
      width: 60%;
    }
  }

  &__image-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
