.content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;

	@mixin tab {
		width: 100%;
		flex-direction: row;
		height: 60%;
	}

	@mixin desktop {
		width: 50%;
		flex-direction: column;
		height: 100%;
	}
}
