.heading-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to right,	rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8));
	@supports (
		(-webkit-clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 100%)) or
			(clip-path: polygon(0 12rem, 100% 0, 100% 100%, 0 100%))
	) {
		clip-path: polygon(0 100%, 0 0, 100% 0, 100% calc(100% - 12rem) );
		padding-top: 12rem;
		margin-top: -12rem;
		height: calc(100vh + 12rem);
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	&--primary {
		opacity: 0;
	}

	&--subtitle {
		opacity: 0;
	}
}
