.heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background-image: 
      linear-gradient(to right, rgba(0,0,0,.8) rgba(0,0,0,.8)),
      url(./assets/images/coding.jpg);
  background-size: cover;
  background-attachment: fixed;
  transform: translateY(12%);

  @mixin tab {
    width: 100%;
    height: 40%;
    background-image: none;
  }

  @mixin desktop {
    width: 50%;
    height: 100%;
  }

  &__wrapper{
    display: flex;
    flex-direction: column;
  }

  &--primary{
    opacity: 0;
  }

  &--subtitle{
    opacity: 0;
  }
}