.page-wrapper{
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  background-image: url(./assets/images/coding.jpg);
	background-size: cover;
  background-position: center;
	background-attachment: fixed;

  @mixin desktop{
    flex-direction: row;
    height: 100vh;
    background-image: url(./assets/images/coding.jpg);
  }

}