.skills {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90vh;
	background-color: white;

	@mixin tab {
		height: 100%;
	}

	@mixin desktop {
		height: 70%;
	}
}
