*,
*::after,
*::before {
	box-sizing: inherit;
	padding: 0;
	margin: 0;
}

html {
	font-size: 46%;

	@mixin tab{
		font-size: 50%;
	}

	@mixin desktop{
		font-size: 62.5%;
	}

}

body {
	box-sizing: border-box;
}

