/*
Breakpoints:
- tab (landscape)  >767px
- desktop >1025px
*/

@define-mixin tab {
	@media (min-width: 47em) {
		@mixin-content;
	}
}

@define-mixin desktop {
	@media (min-width: 63em) {
		@mixin-content;
	}
}
