body {
	font-family: "Roboto", sans-serif;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.6;
	color: #E4E4E4;
}

.heading-section {
	&--primary {
		font-family: "Kanit", sans-serif;
		font-weight: 600;
		font-size: 8rem;
		letter-spacing: 1px;
		line-height: 7rem;
		color: $color-primary;
		text-transform: uppercase;
	}
}

* {
	&::selection {
		background-color: $color-primary;
		color: #fff;
	}
}

h1
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
