.hidden {
	visibility: hidden;
}

.no-display {
	display: none;
}

.hr-short {
	height: 0.5rem;
	background-color: $color-primary;
	border-radius: 1px;
	margin: 3rem 0;
	transform-origin: 0% 50%;
	transition: all 300ms;
}

.padding-left {
	&--xl {
		padding-left: 10rem;
	}
	&--lg {
		padding-left: 8rem;
	}
	&--md {
		padding-left: 4rem;
	}
	&--sm {
		padding-left: 4rem;
	}
}

.section {
	&--half {
		width: 100%;
		height: 50%;

		@mixin desktop {
			width: 50%;
			height: 100%;
		}
	}
}

.animation--slide-in-to-small {
	animation: slide-in-to-small 4s ease;
	animation-fill-mode: forwards;
}

.animation--fade-in-from-left {
	animation: fade-in 2s ease;
	transform-origin: 0% 50%;
}

.animation--fade-in-from-right {
	animation: fade-in 2s ease;
	transform-origin: 100% 50%;
}

@keyframes slide-in-to-small {
	0% {
		opacity: 0;
		width: 100%;
	}
	60% {
		opacity: 1;
		width: 6rem;
	}
	100% {
		width: 6rem;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: scale(0.7);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
