@import './base/__vars.css';
@import './base/__mixins.css';
@import './base/__global.css';
@import './base/__utilities.css';
@import './base/__typography.css';
@import './components/__page-wrapper.css';
@import './components/__heading-section.css';
@import './components/__content.css';
@import './components/__skills.css';
@import './components/__about.css';
@import './components/__about-list.css';



